[2014-07-17 09:50] reza1615 opened #32 "RTL languages"
For RTL Languges like farsi- arabic-Hebrew please set labels RTL spesialy
monthcounts id=monthcounts should be RTL

[2014-07-25 21:57] reza1615 opened #35 "Remaining on the selected language"
When I select a language (for example fa) after click on other tools like adminstats it will return to en!

[2014-08-16 06:51] Mdann52 opened #37 "RfA count creates false positives"
Just a bit of feedback on the RfX vote counter. Firstly, a way to reduce false positives would be to ignore the editors own RfX's. For example, with mine (https://tools.wmflabs.org/xtools/rfap/index.php?project=en.wikipedia.org&user=Mdann52), it shows both of mine as "unknown" votes, so it is probably best to ignore anyone's own RfA's in the count. Additionally, ignoring the "/recent" page is also

[2014-08-16 13:04] willbeaufoy opened #38 "Can top editors (Top 10 by added text) be accessed using xtools/api.php?"
I've been using the cool xtools gadget, and wanted to add the top 10 added text field to it so this appears on wikipedia pages together with pageviews / created by etc.

Is this info accessible through the API?

[2014-08-21 08:15] Grahamwp opened #39 "edit counter: problem displaying top edits when article title starts with a number"
The results for my most frequently edited pages in [X! Edit Counter](https://tools.wmflabs.org/xtools/pcount/index.php?name=Graham87&lang=en&wiki=wikipedia) contain two values in the main namespace, "0" and "1". Comparing this with the [output of the the user analysis tool](https://tools.wmflabs.org/supercount/index.php?user=Graham87&project=en.wikipedia&toplimit=10), it becomes clear that these t

[2014-09-06 17:50] danmichaelo opened #42 "Patrol stats"
Would be great to have patrol stats in addition to admin stats :)

[2014-09-21 11:03] seryo93 opened #45 "Doesn't work with ruwiki"
[error::mq] pops up when I attempt to view article statistics for ruwiki articles.

[2014-10-06 17:22] praveenp opened #46 "Malayalam numerals"
Recently Malayalam translations are included in the tools which is big help for Malayalam users. But if we use Malayalam interface, numbers also change to Malayalam. Malayalam numbers are archaic and no more commonly used. Most people don't even know them (problem eg link: https://tools.wmflabs.org/xtools/ec/?user=Praveenp&project=ml.wikipedia.org&uselang=ml ). Please use English numbers (0,1,2,3,

[2014-10-14 00:24] dcondrey opened #47 "Avoid LanguageTools in names"
**Feature request** Disable checking against LanguageTools rules against names (e.g. names of places, movies, tv shows, etc..)  For example "The    Late Late Show with Craig Ferguson" as well as "Kenny Koala and Cooee the Gum Nut Fairy" are reported as errors on the [Animatronics](https://en.wikipedia.org/wiki/Animatronics) article as referenced here: [X! Tools page check of Animatronics](https://

[2014-10-25 15:52] geraki opened #50 "Blanking EditCounterGlobalOptIn.js should opt out from creating graphs"
I blanked https://meta.wikimedia.org/wiki/User:Geraki/EditCounterGlobalOptIn.js but this didn't stop the generation of graphs in https://tools.wmflabs.org/xtools/ec/?project=el.wikipedia.org&user=Geraki

I'm sure it was working properly in the past but in every case blanking EditCounterGlobalOptIn.js should opt out from creating graphs.

[2014-10-28 20:14] Wolbo opened #51 "Edit counter does not display correct data"
The edit counter does not seem to be up to date. It does not show any edits from October 25 until today (October 28). Is this a data source issue as other tools, e.g. User Contribution Search, show the same issue? Will the missing data be added?

[2014-11-05 19:50] aymatth2 opened #52 "Pages created list for a user does not show recently created page"
https://tools.wmflabs.org/xtools/pages/?user=Aymatth2&lang=en&wiki=wikipedia&namespace=0&redirects=noredirects is missing five pages started on 26-27 October 2014:

18:12, 27 October 2014 Alessandro Tremignon
00:45, 27 October 2014 Louise Bodin
15:13, 26 October 2014 Thomas Phillips Thompson
14:02, 26 October 2014 Hanna Bieber-Böhm
01:01, 26 October 2014 Gertrude Guillaume-Schack ‎

Maybe the tool

[2014-11-08 00:52] Technical-13 opened #53 "(Semi-)automated edits (approximate)"
Please add a section for wikilove (- which accounts for a large chunk of my User talk: edits by welcoming new users whose accounts I create via ACC using https://en.wikipedia.org/wiki/User:Technical_13/Scripts/ACC_WikiLove.js -).

[2014-11-16 07:56] zhaofengli opened #54 "Request for RSS/Atom interface of XEcho"
XEcho is very convenient, but could you make a RSS/Atom interface so that it will be even more convenient for those used to feed readers? Thanks.

[2014-12-19 22:22] Vadgt opened #55 "Armenian "՝" punctuation mark"
Please replace : to ՝ on armenian language.

[2015-01-16 15:05] addshore opened #56 "implement cratstats"
As you already have adminstats I don't imagine cratstats would be very hard to implement :)

[2015-01-24 21:32] flyingclimber commented on #51
Count looks good to me

[2015-01-24 22:02] #51 closed

[2015-01-26 22:09] flyingclimber opened #57 ""The ini file could not be read" shown when trying to log in"
When trying to log in to Xecho i'm seeing a 304 and then being taken to a page that say's

"The ini file could not be read"

Url: https://tools.wmflabs.org/xtools-articleinfo/index.php?login

[2015-01-26 22:22] cyberpower678 commented on #57
I've got a rewrite underway for this.

[2015-01-27 18:01] flyingclimber commented on #57
How can we help?

[2015-01-27 18:03] cyberpower678 commented on #57
Nothing you can do on your end.  I'm getting ready to deploy the fix.

[2015-01-29 04:43] addshore opened #58 "XSS vulnerability"
http://tools.wmflabs.org/xtools-ec/index.php?user=%22%3E%3Cmarquee%3EXSS%3C%2Fmarquee%3E%3Cscript%3Ealert%2528%2527XSS%2527%2529%253B%3C%252Fscript%3E&project=en.wikipedia.org

[2015-02-06 02:19] cyberpower678 commented on #57
There we go.  It's fixed now.

[2015-02-06 02:19] #57 closed

[2015-02-21 08:43] Rillke opened #59 "Add column for MediaWiki namespace edits to adminstats"
- https://commons.wikimedia.org/wiki/Commons:Administrators/Inactivity_section/Feb-Mar_2015#Confirm_your_adminship_here
- https://web.archive.org/web/20140408023441/http://toolserver.org/~vvv/adminstats.php?wiki=ptwiki_p&tlimit=3600

[2015-02-21 14:52] he7d3r opened #60 "Wrong translation for the main namespace"
For some reason, the tool is showing a translation from other language for the main namespace of Portuguese Wikipedia:
https://tools.wmflabs.org/xtools-ec/?lang=pt&wiki=wikipedia&user=MisterSanderson&uselang=en
"Статија" is not a Portuguese word (is it Macedonian?) and should be replaced by "Artigo".

[2015-02-26 03:27] WikimediaDoug opened #61 "Tools don't work for mul.ws"
Multilingual Wikisource uses the Second Level domain name wiksource.org.  Tools such as AdminStats and !X edit counter assumes a third level domain name and places a "." in front of "wikisource", thus ".wikisource.org", which is invalid and fails.  Unlike www.mediawiki.org, the third level domain name www.wikisource.org merely redirects to wikisource.org.

[2015-03-10 12:45] danielnaber opened #62 "accesses old LanguageTool URL"
xtools accesses URLs like http://tools.wmflabs.org/languagetool/languagetool/pageCheck/index?lang=en&url=Genealogy_%28Armenian_group%29 (I see that from my logs), but I had to move LanguageTool back to my own server. If you can use URLs outside of Tool Labs, please use the new URL, it's `community.languagetool.org/wikiCheck/` instead of `tools.wmflabs.org/languagetool/`.

[2015-03-10 12:50] cyberpower678 commented on #62
Why did you move away from toollabs?

[2015-03-10 13:02] danielnaber commented on #62
It was impossible to get LanguageTool working there properly, both the command-line tools and the Tomcat frontend needed to be restarted manually several times a week.

[2015-03-10 13:07] cyberpower678 commented on #62
So why not move to your own project space in labs, like we are with xTools.  There you have total control of everything.

[2015-03-10 13:16] danielnaber commented on #62
We have our own server and everything runs fine there. Moving again would be too much work with almost no benefit.

[2015-03-18 08:07] kekaadrenalin commented on #45
More exactly, does not work "xtools-articleinfo" in ru-WIKI.

[2015-03-18 08:09] kekaadrenalin opened #63 "xtools-articleinfo"
Not working "xtools-articleinfo" in ru-WIKI.

[2015-04-15 20:00] UkkoUkko opened #65 "adminstats"
Calculation of percentage "admins without action" seems to be inaccurate.
246/246 =0.988?
Inaccurate even for any other dates.

de.wikipedia.org
Startdatum: 05.01.2015, 00:00 · (0 Tage)
Log types:  delete, block, protect, import, rights
Current Admins (grp):   246
Admins without action:  246 (98,8%)

Ukko

[2015-04-15 20:50] cyberpower678 commented on #65
Of course.  Didn't you know that 246/246 = 0.988?  We are working on rewriting the concept of mathematics. :p

[2015-04-22 13:19] Technical-13 commented on #63
I'm assuming it was related to one of many global outages.  Please feel free to open a new ticket if the situation reoccurs.  More information about what "Not working" means would also be greatly appreciated.  Thanks.

[2015-04-22 13:19] #63 closed

[2015-05-15 15:02] se4598 opened #66 "RfX Analysis: extend to other dewiki elections"
(transferred from https://en.wikipedia.org/w/index.php?oldid=662439523#Tool)

Please extend https://tools.wmflabs.org/xtools/rfa/?project=de.wikipedia to the following elections:
- https://de.wikipedia.org/wiki/Wikipedia:Oversightkandidaturen
  - e.g. https://de.wikipedia.org/wiki/Wikipedia:Oversightkandidaturen/Sargoth_3
- https://de.wikipedia.org/wiki/Wikipedia:Checkuser
  - e.g. https://de.wiki

[2015-05-21 23:27] mzmcbride opened #67 "X!'s Tools' "Pages created" HTML output isn't being properly escaped"
https://tools.wmflabs.org/xtools/pages/?user=hello%3Cbig%3E%3Cbig%3E%3Cbig%3Ethere&lang=en&wiki=wikipedia&namespace=0&redirects=&limit=10000

The page source currently contains:
[code]

This should be:
[code]

Not sanitizing the HTML output can result in cross-site scripting (XSS) vulnerabilities. Any arbitrary user input needs to be treated as untrusted; the input should be sanitized before being

[2015-06-02 13:55] Krinkle commented on #60
Relevant code:

https://github.com/x-Tools/xtools/blob/c8db3cbcee5ad6dab6739aaba217d625b35ffecd/modules/WebTool.php#L339-L361

It looks like it's being cached without taking the user language variable into account. As a result, the user language of the user who first makes a query for a certain domain, gets his translation into the main xtools-ec cache for "getNamespaces" of that domain.

I'd reco

[2015-06-16 16:22] gerardduenas opened #68 "XEcho flags"
We've got a problem with language flags in xecho. When I receive notifications from cawiki (catalan) it displays the canadian flag instad of the catalan one.

[2015-06-27 21:46] SamB opened #69 "articleinfo: "No revisions found" on everything"
Did the recent NFS troubles knock articleinfo out of commission? Its been failing every time I try it for at least some days, probably saying "No revisions found" each time (but I often failed to spot that there even was an error message).

(Also, the redirect through e.g. https://tools.wmflabs.org/xtools/articleinfo/?lang=en&wiki=wikipedia&page=Schulze_method seems kind of slow.  Is that just art

[2015-07-08 20:57] Chealer commented on #69
Same for me since a long time. I cannot remember when it worked.

[2015-07-16 00:19] Thibaut120094 commented on #69
Same here.

[2015-07-16 18:25] Technical-13 commented on #69
Sorry I didn't get time to work on it this week at all like I planned. A friend of mine ODed on some meds and is in ICU. I hope to be able to get it running soon.

Sent from Yahoo Mail on Android

From:"Thibaut" <notifications@github.com>
Date:Wed, Jul 15, 2015 at 20:19
Subject:Re: [xtools] articleinfo: "No revisions found" on everything (#69)

Same here.

—
Reply to this email directly or view it

[2015-09-05 16:52] nasirkhan opened #70 "x-tools API?"
Is there any API available for the x-tool?

I am going to build a stat report generator and i will need many of the stat data generated by x-tools. So instead to building the same tool i want to use this. having an API will be very helpful. can you please help me to find the way?

[2015-09-13 21:38] APerson241 opened #71 "rfap: Highlight RfXs by outcome"
In the RfX Vote Calculator, each entry in the list of RfXs should indicate the result of that RfX.

For instance, if an entry says "2015-08-24  (121, 17, 3)    Wbm1058", then something should be highlighted with a green color (the timestamp, perhaps), and if an entry says " 2014-08-21   (42, 28, 4)     Dodger67", then the corresponding something should be highlighted with a red color.

[2015-09-17 03:42] jonesey95 opened #72 ""Mainspace" header on Edit Counter in en.wp shows in Korean instead of English"
Copied from VPT on en.wp, 16 Sep 2015: "The heading of mainspace edits appears in Korean (일반 문서) when using the edit counter in English Wikipedia. The rest of the headings are in English. Same thing happens in the article creation counter when 일반 문서 appears to indicate the article creation heading. Does anyone know why? - User:Dr.K."

[2015-09-23 01:40] Matthewrbowker opened #73 "x-Tools doesn't show namespace properly on recently edited pages"
See title.  The namespace is nonexistent, in the link or display of a recently edited page.

<img width="1639" alt="screen shot 2015-09-22 at 19 40 11" src="https://cloud.githubusercontent.com/assets/802331/10036234/c6f6601a-6161-11e5-8904-535eacd6f538.png">

[2015-10-09 01:30] Cladis opened #74 "xtools-articleinfo does not work for outreachwiki"
xtools-articleinfo does not work for outreachwiki. It founds no revisions for existing pages.

[2015-10-10 19:06] Huji opened #75 "X! edit counter fails to login using OAuth"
It does pass the OAuth process but after that it is still "logged out". The link on the top still reads "Log In", and the features that are only shown if logged in (like Month counts) are still disabled.

[2015-10-12 18:09] Cladis commented on #74
Not just this xtool actually it seems.

[2015-10-14 13:30] Guy-Delsaut commented on #69
Could you let us know when the tool will work again.  It was a very useful tool to understand the evolution of the articles and who are the authors. I hope it will be available again soon.

[2015-10-21 12:03] KIDE777 commented on #73
![123](https://cloud.githubusercontent.com/assets/15230396/10635863/f4501436-7825-11e5-80a3-bee76a4b6eeb.png)

Also the protocol is doubled. https://https//abcdefghij so the links can't be followed normally.

[2015-10-31 23:43] ValentinBrclz commented on #74
Same for frwiki.

[2015-12-11 20:45] atdt commented on #72
I hope you don't mind, but since I had no good alternative way of testing this, I simply applied the change on tool labs.

[2015-12-11 21:17] #72 closed

[2015-12-16 20:30] WikiLeo opened #78 "Broken diffs"
Hi there - Thanks for the best Responsibility/Transparency tool yet. When I click on any (diff) under "Latest edits, I get a "can't open" error. I think it's because "http" is doubled in the link. - Thanks again; Leo

[2015-12-16 21:10] leee commented on #78
@atdt - if you'd be willing to abuse your bits again we could merge #76 and have it deployed so this is resolved.

[2015-12-16 21:14] leee commented on #78
Er, NACK - the pr is not related to this issue.

[2015-12-20 18:42] #78 closed

[2015-12-20 19:00] atdt commented on #73
Fixed by #79 and #76

[2015-12-20 19:00] #73 closed

[2015-12-20 19:07] atdt commented on #60
Fixed in #77

[2015-12-20 19:07] #60 closed

[2015-12-20 19:26] #58 closed

[2015-12-20 19:52] Krinkle opened #82 "Edit count uses wrong language for namespace label"
The "Top edited  pages" section at https://tools.wmflabs.org/xtools-ec/?user=Krinkle&project=en.wikipedia.org#topedited starts with an unexpected heading "Artículo".
<img width="377" alt="screen shot 2015-12-20 at 11 52 35" src="https://cloud.githubusercontent.com/assets/156867/11919762/30b53780-a710-11e5-91dc-992def2b5a0f.png">

[2015-12-21 19:07] WikiLeo commented on #78
TYSMYG. i tried https://tools.wmflabs.org/xtools-ec/?user=LeoRomero&project=en.wikipedia.org again, but got zero data. This still works though: https://tools.wmflabs.org/guc/?user=LeoRomero

[2015-12-21 20:12] WikiLeo commented on #78
NVM, works now. Thanks again, and Mabuhay!

[2015-12-21 20:18] WikiLeo commented on #78
NVM NVM. is still broke.

f.e: https://tools.wmflabs.org/xtools-ec/?user=LeoRomero&project=en.wikipedia.org

when i click on (diff) - f.e on the Article Hypocrisy - I get a 404 https://tools.wmflabs.org/xtools-ec/en.wikipedia.org/w/index.php?title=Hypocrisy&diff=prev&oldid=695947988

Sorry.

<img width="1132" alt="screen shot 2015-12-21 at 12 13 45 pm" src="https://cloud.githubusercontent.com/asse

[2015-12-21 20:27] WikiLeo opened #83 "Broken diffs : Part II"
Left some comments on the previous ticket https://github.com/x-tools/xtools/issues/78#event-496915774. Just now occurred to me that i should have opened a new ticket instead. Sorry.

Current (and previous) problem:

f.e: https://tools.wmflabs.org/xtools-ec/?user=LeoRomero&project=en.wikipedia.org

when i click on (diff) - f.e on the Article Hypocrisy - I get a 404 https://tools.wmflabs.org/xtools-

[2015-12-22 20:29] atdt commented on #82
Fixed in 4cecf0240d

[2015-12-22 20:29] #82 closed

[2015-12-22 20:34] #83 closed

[2015-12-22 21:07] atdt commented on #69
@Guy-Delsaut it should work now. It was fixed in 4671a2ef9e.

[2015-12-22 21:07] #69 closed

[2015-12-22 21:10] atdt commented on #45
Should work now, as of 4671a2ef9e.

[2015-12-22 21:10] #45 closed

[2015-12-22 21:10] #39 closed

[2015-12-22 21:12] atdt commented on #67
Dupe of #58. Fixed in d9dc900c96. Thanks for the report.

[2015-12-22 21:12] #67 closed

[2015-12-22 21:14] atdt commented on #52
Since this was reported over a year ago, I am going to assume that the issue was transient and has since been fixed. Please re-open if you encounter this again.

[2015-12-22 21:14] #52 closed

[2015-12-22 21:16] atdt commented on #46
@Krinkle am I correct in thinking that this should be filed against Intuition, instead?

[2015-12-22 21:39] Cladis commented on #74
Mm, actually it looks like not working with outreachwiki still. Seem to work with frwiki though

[2015-12-22 21:53] #74 closed

[2015-12-22 21:56] ricordisamoa commented on #83
So I guess bf7a1d7465149c68889cc50dcc64da31166491ff and c4db233eadfe8c6f096197907d1bf33d6a103955 clashed :-)

[2015-12-23 23:09] Cladis opened #84 "adminstats seem to not work for *.wikimedia.org"
As per the topic. Zero admins are returned.

[2015-12-23 23:59] atdt commented on #84
Still doesn't work for chapter wikis.

[2016-01-03 21:48] WikiLeo commented on #83
no diff probs now, thanks so much you guys, and Mabuhay!

[2016-01-14 08:24] Numbermaniac opened #85 "User not found for project=www.mediawiki.org"
https://tools.wmflabs.org/xtools-ec/?user=Numbermaniac&project=www.mediawiki.org

It just insists I don't exist, even if I change the end to mediawikiwiki. Why?

[2016-01-14 08:51] ricordisamoa commented on #85
No one exists on www.mediawiki.org :smiley:

[2016-01-21 07:34] Matthewrbowker opened #86 "Embedded article info doesn't handle different years."
See images.  Images taken January 20, 2016; however; xtools is marking it as having been revised only 15-days ago.
![screen shot 2016-01-21 at 00 32 37](https://cloud.githubusercontent.com/assets/802331/12474212/9204e6fa-bfd6-11e5-9d61-a8ca9867e017.png)
![screen shot 2016-01-21 at 00 32 27](https://cloud.githubusercontent.com/assets/802331/12474216/970049ec-bfd6-11e5-9a1b-277485bcf59d.png)

[2016-01-26 19:35] gmugar commented on #53
+1. I see stats for bot edits but it would be great if there were also stats for semi-automated edits from tools like TW and HG.

[2016-03-13 06:46] soloturn opened #88 "new articles in article space missing"
currently new articles do include talk pages etc. it would be good to have a focus on new in article space more prominent.

[2016-04-10 11:10] Ltrlg opened #92 "[AdminStats] Sorting by column does not work in French"
Go to https://tools.wmflabs.org/xtools/adminstats/?project=fr.wikipedia.org&begin=2016-01-01&end=2016-04-09&uselang=fr an try to sort using the “delete” column (higher first).

The first one is Thibaut120094 with 961 deleted pages but both Lomita and Polmar have deleted more than 10,000 pages and should be displayed before. Looking at the end of the table, they are sorted as having deleted 10/11 p

[2016-05-07 05:20] shirayuki opened #93 "project=mediawiki does not work"
parameter project=mediawiki does not work.

For example, see
https://tools.wmflabs.org/xtools-ec/index.php?user=Shirayuki&project=mediawiki

[2016-05-07 05:37] shirayuki commented on #93
I think this issue is caused by WebTool.php:

    } elseif ( preg_match( '/(?:wiki$|wikipedia)/', $combo , $matches ) ){
         $domain = str_replace( $matches[0], '', $combo ) . '.wikipedia.org';
    ...
    } elseif ( preg_match( '/mediawiki/', $combo) ) {
         $domain = 'www.mediawiki.org';

[2016-05-07 05:52] Matthewrbowker commented on #93
Known issue, see #85

[2016-05-07 05:52] #93 closed

[2016-05-07 08:32] shirayuki commented on #93
Thanks. I searched before posting...

[2016-05-28 14:53] willbeaufoy commented on #70
There is an [API(https://tools.wmflabs.org/xtools/api.php) but it's currently down. I'm trying to work out why.

[2016-06-17 14:58] alansohn opened #97 "Error in revision history statistics"
I'm looking at https://tools.wmflabs.org/xtools-articleinfo/?article=West Milford,_New_Jersey&project=en.wikipedia.org, which lists "Max. text added:   Sep 11, 2008, 6:01 PM  •  24.193.164.252  •  +31,493". That IP address did make an edit at that date and time (see https://en.wikipedia.org/w/index.php?title=West_Milford,_New_Jersey&action=history). However, the edit was a minor one that added a o

[2016-06-17 14:59] Matthewrbowker commented on #97
I'll take a look, thanks for the heads up.

[2016-06-20 17:15] alansohn commented on #97
The same problem exists at https://tools.wmflabs.org/xtools-articleinfo/?article=George_Washington_Bridge&project=en.wikipedia.org, which lists "Max. text added:	Dec 26, 2008, 8:47 PM  •  LaaknorBot  •  +20,374"

LaaknorBot did make an edit at that date and time, but 20,374 was the size of the article, not the net change of the edit.

There was an edit

[2016-06-23 20:01] Matthewrbowker commented on #88
@rthurner Which tool does this apply to?

[2016-06-28 07:04] Triplecana opened #98 "Font size for History statistic for es.wikipedia.org"
The size for es.wikipedia.org articles in History statistic tab appears too small. We want to use this tool in es.wiki but we hope if this can be corrected first.

Thank you it is a great app

Triplecaña

[2016-06-28 15:30] Matthewrbowker commented on #98
Hi, @Triplecana!  Can you give me an example URL where you're seeing this issue?

[2016-06-28 15:48] Triplecana commented on #98
Try with
https://tools.wmflabs.org/xtools-articleinfo/?article=Intempo&project=es.wikipedia.org

Carlos Madrid

On Tue, Jun 28, 2016 at 5:30 PM +0200, "Matthew Bowker" <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi, @Triplecana<https://github.com/Triplecana>! Can you give me an example URL where you're seeing this issue?

-
You are receiving this because you were mentioned.

[2016-06-28 15:50] Matthewrbowker commented on #98
Oh wow, definitely a bug.  I'll see what I can do :)

Thank you for reporting!

[2016-06-28 15:55] MusikAnimal commented on #98
This made me laugh. What a peculiar bug!

I think it might have something to do with the "page assessment" tool, which fails because this is not an enwiki article. I'm seeing the same behaviour with all languages. It looks like it's adding `font-size: 90%` to the `<body>` tag.

I also think this page assessment thing is slowing the tool down? All enwiki articles seem to take quite a while to load.

[2016-06-29 17:49] AndrewNewell commented on #97
An even more extreme example is https://tools.wmflabs.org/xtools-articleinfo/?article=Momentum&project=en.wikipedia.org, where an addition of a single character by an IP is credited with +33,084. The error also appears in the pie chart "Top 10 by added text" (under Top editors).

[2016-07-23 07:26] fireattack opened #100 "Change all the "xtools/ec" links to xtools-ec"
To avoid the annoying 302 error.

One of the place is in "Top editors" sections of xtools-articleinfo, where there are links for edit counter of each editors.

[2016-07-28 10:35] alanajjar opened #101 "Link to (commonswiki)"
The link to commonswiki in (SUL editcounter) must fix by add word (media) to the link,
e.g:
The current link:
//tools.wmflabs.org/xtools-ec/?user=%D8%B9%D9%84%D8%A7%D8%A1&project=commonswiki
The fixed one:
 //tools.wmflabs.org/xtools-ec/?user=%D8%B9%D9%84%D8%A7%D8%A1&project=commonswikimedia

[2016-08-02 10:07] urbanecm commented on #92
I can confirm this with Czech one. See https://tools.wmflabs.org/xtools/adminstats/?project=cs.wikipedia.org&begin=2016-04-24&end= . When you try to sort this using delete column (higher first) you can see that sorting works correctly only when sum of sysops actions don't exceed 999.

[2016-08-10 05:17] MusikAnimal commented on #100
This should be fixed

[2016-08-10 05:17] #100 closed

[2016-08-11 20:15] tbertels commented on #92
It seems that sortable.js is encoded in windows-1252, so it would need to be converted to UTF-8 for this commit.

[2016-08-28 18:57] jarallah opened #103 "General statistics Total edits is Different Than SUL editcounter"
https://tools.wmflabs.org/xtools-ec/?user=%D8%AC%D8%A7%D8%B1+%D8%A7%D9%84%D9%84%D9%87&project=ar.wikipedia.org

The issue is General statistics Total edits is Different Than SUL editcounter the The problem of edits number has become a few days ago  Are there a solve for this issue?

[2016-08-30 07:30] Matthewrbowker commented on #103
Appears to be a math error - I will look into it and fix if necessary.

[2016-08-30 19:49] Matthewrbowker commented on #35
This is due to the fact we actually have three directories.  Recommend opening an issue with http://github.com/krinkle/intuition if it persists.

I'm closing as this problem appears to be fixed in the rewrite branch.

[2016-08-30 19:49] #35 closed

[2016-09-08 00:09] jarallah commented on #103
is there solve for this issue ?! my Total edits is minus more than 2000.

[2016-09-08 00:30] Matthewrbowker commented on #103
Still working on it.  Thanks for the patience.

[2016-09-24 17:09] Matthewrbowker commented on #32
I'm going to close this, as it has been fixed in the rewrite. Since the mainstream xtools will be replaced by this, it will be there soon.

[2016-09-24 17:09] #32 closed

[2016-10-03 11:05] sjoerddebruin opened #105 "Overwriting of redirects shouldn't be included in AdminStats"
Overwriting a redirect creates a entry in the deletion log now, causing non-sysops showing up in the AdminStats view ([example](https://tools.wmflabs.org/xtools/adminstats/?project=nl.wikipedia.org&begin=2015-10-01&end=)) Can these be excluded?

[2016-10-03 15:24] Matthewrbowker commented on #105
Closing, please contribute at https://phabricator.wikimedia.org/T145677

[2016-10-03 15:24] #105 closed

[2016-10-03 18:25] sjoerddebruin commented on #105
Maybe change the bug reporting link in the footer then. :)

[2016-10-03 18:35] Matthewrbowker commented on #105
That close was more to centralize the discussion.  Eventually, we're going to move all the bugs to one place, but not yet.

[2016-10-11 15:09] Sky2042 opened #106 "AdminStats: Non-admins can add deletion log entries by moving over a page"
Moving over a page now causes non-admins to be added to the deletion log as a the deleting entity. For example, I appear on en.WP adminstats even though I am not an admin (ref user "Izno").

It appears that the count on AdminStats is not getting adminstats for only admins, but instead counting all deletion log entries. I don't know if this is desirable.

[2016-10-11 15:12] Matthewrbowker commented on #106
https://phabricator.wikimedia.org/T145677

Please comment there to keep the discussion central.

[2016-10-11 15:12] #106 closed

[2016-10-15 03:13] jarallah commented on #103
@Matthewrbowker  Did you find a solution?

[2016-10-17 02:53] Matthewrbowker commented on #103
Not yet, though I am looking.

As of right now https://tools.wmflabs.org/xtools-ec/?user=%D8%AC%D8%A7%D8%B1+%D8%A7%D9%84%D9%84%D9%87&project=ar.wikipedia.org is showing 39,456

https://tools.wmflabs.org/xtools/sc/?user=%D8%AC%D8%A7%D8%B1+%D8%A7%D9%84%D9%84%D9%87&project=ar.wikipedia.org is showing 39,462 .  The Simple Edit Counter is just a simple count query, so I'm inclined to trust it more.

Ap

[2016-10-17 19:52] Matthewrbowker commented on #103
Slight tangent: The development version of xtools is returning the same results, but it's different from both of the above links.

http://xtools-dev.wmflabs.org/sc/arwiki/%D8%AC%D8%A7%D8%B1%20%D8%A7%D9%84%D9%84%D9%87

http://xtools-dev.wmflabs.org/ec/arwiki/%D8%AC%D8%A7%D8%B1%20%D8%A7%D9%84%D9%84%D9%87

[2016-10-17 20:23] jarallah commented on #103
This Link http://xtools-dev.wmflabs.org/ec/arwiki/%D8%AC%D8%A7%D8%B1%20%D8%A7%D9%84%D9%84%D9%87 Is Not True My Edits In Enwiki Is 47 Only But In The link my edits in Enwiki is 9,055 and in Commonswiki and other wiki also mistaken.

but this http://xtools-dev.wmflabs.org/sc/arwiki/%D8%AC%D8%A7%D8%B1%20%D8%A7%D9%84%D9%84%D9%87 The difference only 49 edits with my Total Edits:  	39,509. is there anot

[2016-10-17 20:29] Matthewrbowker commented on #103
http://xtools-dev.wmflabs.org/ec/arwiki/%D8%AC%D8%A7%D8%B1%20%D8%A7%D9%84%D9%84%D9%87 - Yes, the edit counter is not processing data right now because I'm still writing it.  The number I'm checking is in the top left - that's the only portion of the page that's working right now.  Does that number match?

That's good to hear - only 49 off.  Closer!

[2016-11-05 21:42] Krinkle commented on #85
I debugged it from my personal account and learned the following so far.

* The url parameters are interpreted fine. Contrary to comments in #93, the initial call to `WebTool:: getWikiInfo()` that reads project from `$wgRequest` is not the problem. The `preg_match( '/(?:wiki$|wikipedia)/'` if condition is not reached in case of `project=www.mediawiki.org`.

Logging `$wt->wikiInfo` after [index.php

[2016-11-10 04:10] davidhedlund opened #107 "Total bytes of editing"
https://en.wikipedia.org/w/Wikipedia:WikiProject_Medicine/Stats/Top_English_medical_editors_2013b lists:
* Changed bytes
* Added bytes
* Deleted bytes

Can I list my total edits in bytes (changed bytes + added bytes + deleted bytes), I cannot find anything about it on this link for example: https://tools.wmflabs.org/xtools-ec/?user=%20Cyberpower678&lang=en&wiki=wikipedia.

The current text is "Tot

[2016-11-10 04:11] davidhedlund commented on #107
[mylabel:important](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aimportant%22+in%3Acomments&type=Issues&ref=searchresults)

[2016-11-19 02:50] kaldari opened #108 "Localization of labels seems to be broken"
All the labels just show up as keys for me (regardless of what my language is set to): {#userid#}, {#groups#}, {#total#}.

[2016-11-19 18:42] MusikAnimal commented on #108
I cleared the i18n cache in Redis and that seemed to do it. There was also one apparent bug of checking for a boolean response from Redis, when it may be a string.

[2016-11-19 18:42] #108 closed

[2016-11-20 17:06] ferdi2005 opened #109 "Xtools for non-wikimedia wikis"
How can I adapt Xtools for **non-wikimedia** wikis like [this](http://www.wikigram.it).
I can host it on my server, but I need help for adapting.
Sorry for my poor English.
Regards and Thanks

[2016-11-20 17:08] cyberpower678 commented on #109
You can’t.  It’s too environment specific at the moment to move it anywhere else.  Also you need access to the wiki DBs to use it.  Sorry.

[2016-11-20 17:20] ferdi2005 commented on #109
I have access to the Wiki's db

[2016-11-20 18:29] Matthewrbowker commented on #109
Hello! I am working on making xTools work on other wikis, as part of the rewrite process. Please watch this ticket, I'll post a comment when it's done.

The reason it won't work right now is that xTools relies on the Tool Labs functionality. Not just the databases, but the grid engine and the directory structure as well.

[2016-11-20 18:33] ferdi2005 commented on #109
Thanks @Matthewrbowker

[2016-11-25 08:52] urbanecm opened #110 "Tool shows bad entries"
Hi, this tools shows bad entries, see https://tools.wmflabs.org/xtools-ec/?user=Luk%C3%A1%C5%A1+Kr%C3%A1l&project=cs.wikipedia.org (he didn't made 92 % edits without summary, I checked it using labs database).

And for my account (https://tools.wmflabs.org/xtools-ec/?user=Martin+Urbanec&project=cs.wikipedia.org) it does not show anything at all.

Please fix it soon!

[2016-11-25 16:58] MusikAnimal commented on #110
@urbanecm Perhaps you're misreading? I see 2,568 edits **with summary** (not without), out of 2,898 total edits. I also see a full report for your account. The service may have been down when you last checked. Is it working for you now?

[2016-11-25 17:05] urbanecm commented on #110
This is because I'm Czech I think. I see bez shrnutí: 92%, se shrnutím: 8 %ˇ. Translated into Englush, 92 % without summary, 8 % with summary. Seems this is only mistranslation.

For my account it works with the same mistake (99,7% bez shrnutí, 0,3% se shrnutím, in English 99,7% without summary, 0,3 % with summary).

[2016-11-25 17:16] MusikAnimal commented on #110
Aha! I think I have fixed it at translatewiki.net. It might take take a while to get backported into the tool, and for the cache to be cleared. Thanks for the report!

[2016-11-25 17:20] urbanecm commented on #110
Thank you!

[2016-12-09 09:35] gerardduenas opened #111 "articleinfo tool has a 404"
The embedding of the assessment section seems to be broken.
![captura de pantalla de 2016-12-09 10 33 39](https://cloud.githubusercontent.com/assets/10157199/21044205/0cbb1a2c-bdfb-11e6-836a-56b8f4226ca6.png)

[2016-12-09 17:55] Matthewrbowker commented on #111
Can you please give the URL that you were attempting to load?

[2016-12-09 18:11] gerardduenas commented on #111
https://tools.wmflabs.org/xtools-articleinfo/?article=F-86+Sabre&project=ca.wikipedia.org

[2016-12-09 19:46] cyberpower678 commented on #111
It looks like you were trying to load something different in the screenshot, completely unrelated to xtools according to the echoed back URI

[2016-12-09 21:26] Matthewrbowker commented on #111
@cyberpower678 I get what he means.  We are loading a page from another tool within articleinfo.  Therefore it is an xtools problem.  I will troubleshoot this evening.

[2016-12-09 21:30] gerardduenas commented on #111
Sorry if I didn't explain myself, but you've got what I meant. Thanks guys for the great job you do developing this tool!

[2016-12-09 21:34] cyberpower678 commented on #111
Matthew is the one to thank.  I’ve passed on the crown of lead maintainer to him.  He does extraordinary work for xTools.

[2016-12-09 22:14] Matthewrbowker commented on #111
Fixed on the live tool.  The box will now be empty for every wiki except for the English Wikipedia.  See #112 for the code fix I applied.  Thank you for the report!

[2016-12-09 22:14] #111 closed

[2016-12-30 21:30] JustBerry opened #113 "Blank Result"
https://tools.wmflabs.org/xtools-ec/?user=MrLinkinPark333&project=en.wikipedia.org

[2016-12-30 21:37] JustBerry commented on #113
Odd--works now...

[2016-12-30 21:37] #113 closed

[2016-12-30 23:20] Matthewrbowker commented on #113
We are tracking this issue at https://phabricator.wikimedia.org/T97153 (if it's the same one I think it is), it happens when the database server goes away before fully creating the temporary table.

[2017-01-21 23:24] bronhiggs opened #114 "Wikipedia Xtools"
I am currently using Wikipedia and have been experiencing difficulties with one of the X-tools for the past week.  I have been informed by WP's technical department that this is an external service and asked to report the problem here.
The details are:
At the top of my screen is a link to "Contributions". If I click on this and then click on "Edit Count" and then click at the bottom of the screen,

[2017-01-23 00:36] summermielke opened #115 "Page history not working?"
I am trying to find editing data of individual Wikipedia pages. Every single page title I enter into the Page history search bar comes back as "No revisions found." What is going on? Is the site not working, or am I doing something wrong?

[2017-01-23 01:28] Matthewrbowker commented on #114
I'll take a look this evening, page logs should reveal something.

[2017-01-23 01:28] Matthewrbowker commented on #115
Duplicate of #114, watch there for updates.

[2017-01-23 01:28] #115 closed

[2017-01-23 09:35] bronhiggs commented on #114
Great, thanks

I'll have a look for it in the morning. (I am on Australian time, so it's evening here now and I'll be off to bed before too long!)

Regards
Bronwyn Higgs
--------------------------------------------
On Mon, 23/1/17, Matthew Bowker <notifications@github.com> wrote:

 Subject: Re: [x-tools/xtools] Wikipedia Xtools (#114)
 To: "x-tools/xtools" <xtools@noreply.github.com>
 Cc: "bronhig

[2017-01-23 18:56] Matthewrbowker commented on #114
I am unable to reproduce this issue, I'm not seeing it.

There are some log entries that read like so:

Appears our replica.my.cnf file had to be recreated.

Please comment when you encounter the issue again, I can use the timestamp to check the error logs.

[2017-01-23 18:58] Matthewrbowker commented on #114
Never mind, I just ran into it.  There is no output in the logs.  I'll put some debugging code into article info and attempt to reproduce.  Apologies about that.

[2017-02-02 22:26] summermielke commented on #114
It seems to be working for me now. Thank you!

Does anyone know if there is a way to see which Wikipedia pages have the most edits done by bots?

[2017-02-03 03:37] bronhiggs commented on #114
Yes, thanks
It is working for me too.

--------------------------------------------
On Fri, 3/2/17, summermielke <notifications@github.com> wrote:

 Subject: Re: [x-tools/xtools] Wikipedia Xtools (#114)
 To: "x-tools/xtools" <xtools@noreply.github.com>
 Cc: "bronhiggs" <Cooljazz@y7mail.com>, "Author" <author@noreply.github.com>
 Received: Friday, 3 February, 2017, 9:26 AM

 It seems to be working

[2017-02-03 03:59] MusikAnimal commented on #114
Alrighty then... just as last time, the magic XTools fairies came along and fixed it for us... we didn't have to do anything! FYI a complete rewrite is in the near future that should be significantly more stable and at least more maintainable, such that if issues like this come up we'll at least have a clue as to what went wrong and how to fix it.

[2017-02-03 03:59] #114 closed

[2017-02-23 21:57] summermielke opened #116 "Inaccurate bot data"
https://tools.wmflabs.org/xtools-articleinfo/?article=Epidemia+de+%C3%A9bola+de+2014-2016&project=es.wikipedia.org

On this page xtools reports 54 edits done by bots. I scraped the data myself (for academic research) and there are only 34 edits. The number of total edits is correct. Xtools is counting some non-bot users as bots and also double counting their edits. Taichi and Savh are not bots and

[2017-02-24 13:25] xcombelle opened #117 "blame don't give correct link"
I did this search

http://tools.wmflabs.org/xtools/blame/?project=fr.wikipedia.org&article=Discussion%3ALa+Manif+pour+tous&text=http%3A%2F%2Fcdn.bvoltaire.fr%2Fmedia%2F2012%2F12%2Fpedophilie-565x668.jpeg

It should return this link https://fr.wikipedia.org/w/index.php?title=Discussion%3ALa_Manif_pour_tous&diff=prev&oldid=103630151

and return this one

http://fr.wikipedia.org/w/index.php?title=Dis

[2017-02-27 17:59] Matthewrbowker commented on #98
This was fixed by #111, it doesn't appear anymore for me.  Let me know if you have any additional problems!

[2017-02-27 17:59] #98 closed

[2017-02-27 18:01] Matthewrbowker commented on #88
@soloturn I'm going to close this as not actionable right now, since I don't know what needs fixing.  Please let me know if you need any additional help.

[2017-02-27 18:01] #88 closed

[2017-02-27 18:52] Matthewrbowker commented on #85
I have made the modifications suggested by @Krinkle.  However, it has broken the multiquery method later in that file, so now we just get a different error message.  I will continue troubleshooting.

[2017-02-27 19:29] Matthewrbowker commented on #85
Please try now.  It has been working for me.

[2017-02-28 04:24] Numbermaniac commented on #85
Looks like it's working for me too. Thanks!

[2017-02-28 04:40] #85 closed

[2017-03-02 02:43] summermielke commented on #116
https://tools.wmflabs.org/xtools-articleinfo/?article=Vladimir+Poutine&project=fr.wikipedia.org

This page also has errors. There are more like 262 bot edits, not 135.

[2017-03-03 09:26] NehalDaveND opened #118 "Not Working for sa.wikipedia.org"
https://tools.wmflabs.org/xtools-ec/index.php?user=NehalDaveND&project=sa.wikipedia.org&uselang=sa

[2017-03-03 20:08] Matthewrbowker commented on #118
I'll take a look at this.

[2017-03-06 20:55] MusikAnimal commented on #118
Working for me. Perhaps you fixed it @Matthewrbowker ?

[2017-03-06 20:57] MusikAnimal commented on #117
Yes I can say from experience this tool is not really reliable. We'll likely rewrite this from scratch in the new version of XTools, and will be sure to do thorough testing to ensure accuracy. The new version should be out sometime in 2017, hopefully within 3-6 months.

[2017-03-06 22:51] Matthewrbowker commented on #118
@MusikAnimal Not working for me.

[2017-03-06 22:54] Matthewrbowker commented on #118
Appears to be working now (had a variable typo).  Can anyone confirm?

[2017-03-06 22:56] Matthewrbowker commented on #116
@summermielke Where are you getting numbers "like 262?"

[2017-03-06 22:58] Matthewrbowker commented on #62
LanguageTool is no longer a functioning resource: http://forum.languagetool.org/t/shutting-down-wikicheck/1098

[2017-03-06 22:58] #62 closed

[2017-03-06 23:01] Matthewrbowker commented on #61
@WikimediaDoug Does this look right? https://tools.wmflabs.org/xtools-ec/?user=Matthewrbowker&project=wikisource.org Or are you reporting a different issue?

For background, I believe I fixed this when I fixed #85

[2017-03-06 23:05] Matthewrbowker commented on #97
Okay, none of the examples given demonstrate the problem.  I'm closing this, will reopen if the problem is found again.

[2017-03-06 23:05] #97 closed

[2017-03-06 23:07] summermielke commented on #116
I scraped the data, exported it to an excel sheet, and did a VLOOKUP. I'd be happy to send them if you want to see. But the errors are apparent on x tools. On Vladimir Poutine for instance there is a bot called YurikBot that is listed in users but not in bots. It is not counted toward the bot edit percentage.

[2017-03-06 23:10] Matthewrbowker commented on #84
Appears to work for me, see https://tools.wmflabs.org/xtools/adminstats/?project=nyc.wikimedia.org&begin=2016-11-26&end= (I don't know how 8/8 is 80% of admins - guess we're re-inventing math?).  I believe this was fixed when I fixed #85

[2017-03-06 23:10] #84 closed

[2017-03-06 23:22] Matthewrbowker commented on #116
Huh.  According to https://github.com/x-tools/xtools/blob/caa7162/modules/ArticleInfo.php#L1152-L1166 , the bots are generated based on the flags.  According to the SUL info, https://meta.wikimedia.org/w/index.php?title=Special%3ACentralAuth&target=YurikBot does not have a bot flag on either the french wiki or the spanish wiki.

[2017-03-06 23:32] summermielke commented on #116
Oh, I see. What about the user Taichi on the first link I posted? Why is a nonbot being counted as a bot?

[2017-03-09 08:49] MusikAnimal commented on #116
Looks like they used to be a bot https://es.wikipedia.org/w/index.php?title=Especial:Registro&user=&page=User%3ATaichi&type=rights

I am working on a fix for the new version of XTools, and will try to fix the current version as well

[2017-03-09 08:59] MusikAnimal commented on #116
Actually, I think this is just bad data. I noticed this with another project I was working on, where apparently the replicas sometimes aren't up-to-date, maybe that's what has happened here. It seems the `user_groups` table does not hold historical data, so it should not be reporting Taichi as a bot.

[2017-03-09 21:30] MusikAnimal commented on #116
Scratch that, it's not bad data. The issue is bot edits do get flagged as such, but only in `recentchanges`, not in `revision` or via another table that is not regularly purged. So, the only way I can think of to assert it was a bot edit is to cross-reference when the user right was added/removed via the `logging` table with the timestamps in the revision history. This would slow things down treme

[2017-03-09 21:49] MusikAnimal commented on #116
What we can do is indicate if the user is a //former bot//, that should hopefully alleviate some confusion. It seems many human accounts are given the bot flag on eswiki, so not really an edge case for them when it would be for many other wikis

[2017-03-09 22:11] summermielke commented on #116
Forgive my ignorance... but why would a legitimate bot that has been flagged at some point in time no longer be flagged?

I did not realize that there are human accounts that were previously bot accounts. Thanks for letting me know and looking into this.

[2017-03-09 22:27] MusikAnimal commented on #116
Often advanced user rights are removed if the user is inactive.

I've made the new articleinfo tool show if they were previously a bot, which I think is the best option. Let's say we went with the more complicated solution where we cross-reference the user rights log, as I described above... even then you may have human editors showing up as bots on XTools. Unfortunately there's nothing we can do.

[2017-03-14 06:07] samwilson commented on #107
The namespace view of topedits already includes all articles (i.e. `*`). Or is the idea here to add actual regex support, e.g. `List of Pokémon: .*` to get only those articles?

[2017-03-14 10:20] davidhedlund commented on #107
@samwilson

Yes.

[2017-03-14 10:21] davidhedlund commented on #107
@samwilson Feel free to file a separate issue for that if you think its best.

[2017-03-30 09:41] stuartyeates opened #119 "Edit count gets date of first edit wrong for long-time editors"
https://tools.wmflabs.org/xtools-ec/?user=Stuartyeates&project=en.wikipedia.org has my first edit as "Dec 31, 2099, 12:00 AM" which is clearly wrong. I was expecting a date about 13 years ago.

[2017-03-30 18:57] stuartyeates commented on #119
So this looks like a transient (possibly cached) error that occurs when the variable "$mFirstEdit" in /modules/Counter.php remains in an uninitialised state (the 2099 value is the in-line initialised value and somehow it's not getting the real data from the database). could that be caught and handled a little better please?

[2017-03-30 19:11] Matthewrbowker commented on #119
See https://phabricator.wikimedia.org/T97153 .

This is definitely something that needs to be handled better in the rebirth.  @samwilson is that part of your plan for the edit counter?

[2017-03-30 22:49] samwilson commented on #119
Yes, this is working in my branch of the rebirth; the 'first edit' date is the earliest date of any revision or archived-revision for a given user. Same idea for the last-edit date.

[2017-04-19 01:56] davidhedlund opened #120 "Add option for deleted pages"
Can you please add a new drop down menu for with title **Deleted pages** in this [form](https://tools.wmflabs.org/xtools/pages/)?

**Deleted articles** should have these options:
* Include deleted and created pages
* Include created pages only
* Exclude created pages

I don't think its convenient to read the full list if I just want to know what I actually achieved.

[2017-04-19 02:46] MusikAnimal commented on #120
You can hide redirects by selecting "Exclude redirects" from the [form](https://tools.wmflabs.org/xtools/pages/). E.g. see [here](https://tools.wmflabs.org/xtools/pages/?user=David%20Hedlund&lang=en&wiki=wikipedia&namespace=0&redirects=noredirects&limit=1000). There is no option to hide deleted pages, but we can add that to the new XTools which should be deployed this quarter.

[2017-04-19 03:43] davidhedlund commented on #120
@MusikAnimal Thanks. I updated the title and text.

[2017-04-22 07:02] davidhedlund opened #121 "Add "TOP added text" page"
* We have [TOP edits](https://tools.wmflabs.org/xtools/topedits/) that lists all top pages by number of edits.
* For articles there are "TOP 10 by added text", [example](https://tools.wmflabs.org/xtools-articleinfo/?article=Alcoholic+drink&project=en.wikipedia.org&editorlimit=10#topeditors). But there are no "TOP added text" page that lists all articles automatically like with "TOP edits" -- Can y

[2017-04-22 15:20] #118 closed

[2017-04-22 15:21] Matthewrbowker commented on #101
I have fixed this issue in the rebirth, which will be deployed later this year.

[2017-04-22 15:21] #101 closed

[2017-04-22 15:22] Matthewrbowker commented on #92
This has been fixed in the rewrite, which will be deployed later this year.

[2017-04-22 15:22] #92 closed

[2017-04-22 15:26] Matthewrbowker commented on #47
LanguageTool has been disabled and removed, and has been written out of the xtools rewrite.  Closing.

[2017-04-22 15:26] #47 closed

[2017-04-22 15:28] Matthewrbowker commented on #61
No response.  Closing this as resolved since it works for me.

[2017-04-22 15:28] #61 closed

[2017-04-22 15:30] Matthewrbowker commented on #110
@MusikAnimal Any update on this?  Has the new translation landed?

[2017-04-22 15:38] Matthewrbowker commented on #121
I really like this idea actually.  Maybe we can roll it into the new topedits? @samwilson it appears you added this tool to rebirth.

[2017-04-22 16:03] davidhedlund commented on #121
Smart.

[2017-04-22 16:24] urbanecm commented on #110
Yes, they are loaded @Matthewrbowker. Closing then.

[2017-04-22 16:24] #110 closed

[2017-04-23 11:13] jc86035 opened #122 "Commons ("commonswiki") links give an error"
[This link](https://tools.wmflabs.org/xtools-ec/?user=Jimbo+Wales&project=commonswiki) doesn't work and returns "wt::getUserInfo is not a valid wiki", whereas [this link](https://tools.wmflabs.org/xtools-ec/?user=Jimbo+Wales&project=commons) does. The former is linked to from the "SUL editcounter (approximate)" column in the second subsection of the "General statistics" section on user stats pages

[2017-04-23 21:48] Matthewrbowker commented on #122
#101

[2017-04-23 21:48] #122 closed

[2017-04-28 16:41] Matthewrbowker commented on #53
Fixed in x-tools/xtools-rebirth@ea1b968

[2017-04-28 16:41] #53 closed

[2017-05-25 15:56] Cabayi opened #123 "Not recognising User:It's gonna be awesome"
Running the tools on  User:It's gonna be awesome  causes them to barf...

User ID:
User groups:
First edit:	Dec 31, 2099, 12:00 AM
Latest edit:	Dec 2, 2, 12:00 AM

https://tools.wmflabs.org/xtools-ec/?user=It%27s+gonna+be+awesome&project=en.wikipedia.org

[2017-05-25 16:21] MusikAnimal commented on #123
Looks like it's working for me? The edit counter goes down occasionally, maybe you just had bad timing. The new Xtools will be fully stable without nasty barfs like this :) It should be released in a month or two, if not sooner. Stay tuned!

[2017-05-25 16:51] Matthewrbowker commented on #123
Works for me as well.

[2017-05-25 16:51] #123 closed

[2017-05-27 09:39] eranroz opened #124 "Incorrect results - non admins"
(reported in hewiki - moving it here)
The tool reports wrong statistics for example:
http://tools.wmflabs.org/xtools/adminstats/?project=he.wikipedia.org&begin=2017-02-16&end=

* It shows users who aren't and weren't admins in the past. (example: Sokuya)
* It seems that those users, did some delete actions as part of pagemove.

[2017-05-27 16:58] Matthewrbowker commented on #124
https://phabricator.wikimedia.org/T154408

[2017-05-27 16:58] #124 closed

[2017-06-05 10:23] DanHarkless opened #125 "editsummary reports last 150 major edit summary percentage as 99% instead of actual 100%"
I use {{Template:User edit summary}} on [my user page](https://en.wikipedia.org/wiki/User:Dan_Harkless), which links to [https://tools.wmflabs.org/xtools/editsummary/index.php?name=Dan+Harkless&lang=en&wiki=wikipedia](https://tools.wmflabs.org/xtools/editsummary/index.php?name=Dan+Harkless&lang=en&wiki=wikipedia).  It claims `Edit summary for last 150 major edits: 99%`, which is incorrect.  My las

[2017-06-07 18:39] Matthewrbowker commented on #66
Didn't realize this was a duplicate task sorry... This has been implemented per https://phabricator.wikimedia.org/T163444 .

[2017-06-07 18:39] #66 closed

[2017-06-09 03:52] NehalDaveND opened #126 "sa.wikipedia"
I can't see..

https://tools.wmflabs.org/xtools-ec/index.php?user=NehalDaveND&project=sa.wikipedia.org&uselang=sa

Please help

[2017-06-09 05:13] samwilson commented on #126
This is being fixed in the rewrite of XTools. I'll check now to see if it's working there yet....

[2017-06-11 11:09] Ltrlg opened #127 "[articleinfo] Wrong assumption regarding deleted text"
When an article has no edit removing text (in terms of byte count), articleinfo still shows the “Max. text deleted” field, with a red positive number, assuming the lowest value must be a deletion. See for example [wikt:fr:Thésaurus:concert/français](https://tools.wmflabs.org/xtools-articleinfo/index.php?project=fr.wiktionary.org&article=Th%C3%A9saurus:concert/fran%C3%A7ais&uselang=en).

[2017-06-12 16:53] MusikAnimal commented on #127
Nice catch! I will make sure this is fixed in the new version of XTools, which we hope to have released by July. Thanks

[2017-06-12 22:03] MusikAnimal commented on #127
I can confirm this has been fixed in the rewrite. Closing this issue as we are officially no longer supporting the legacy XTools. As I said the new version should be out very soon. Get excited! :)

[2017-06-12 22:03] #127 closed

[2017-06-13 05:28] samwilson commented on #126
This is functional in the new version; see http://tools.wmflabs.org/xtools-dev/ec/sa.wikipedia.org/NehalDaveND

[2017-06-13 07:14] Ltrlg commented on #127
Many thanks!

[2017-06-13 21:17] #126 closed

[2017-06-19 09:02] ferdi2005 opened #128 "Oauth doesn't work"
Oauth with it.wikipedia doesn't work.
Oauth with metawiki redirect to the tool without the project url and the auth fails. Sorry for poor English

[2017-06-19 09:07] samwilson commented on #128
Can you please test with the new test site: https://xtools-dev.wmflabs.org/ and see if your problem is resolved there.

[2017-07-06 13:24] DanHarkless commented on #125
Not sure if someone updated the tool or if I just got to enough major edits beyond 150 (and 350...) to hide the miscalculation, but as of today, the tool is now correctly displaying 100% for my last 150 major edits.  The last time I checked a few days ago, it was still incorrectly claiming 99% for the last 150.  If the tool has been updated to correct the calculation (doesn't appear so, as the las

[2017-07-17 23:53] Matthewrbowker commented on #109
@ferdi2005 Our rewrite has entered beta.  If you're interested, see http://github.com/x-tools/xtools under "releases"

[2017-07-17 23:53] #109 closed

[2017-07-17 23:57] Matthewrbowker commented on #117
We have decided not to include blame in the new version of XTools as of launch.  Closing this task.

[2017-07-17 23:57] #117 closed

[2017-07-17 23:59] Matthewrbowker commented on #68
XEcho has been depricated and removed from the new XTools, as MediaWiki now has that functionality in core.

[2017-07-17 23:59] #68 closed

[2017-07-18 00:00] samwilson commented on #128
Oauth is now working in the new XTools. See https://xtools.wmflabs.org/

Please do open a new issue on Phabricator if you're still having problems.

[2017-07-18 00:00] #128 closed

[2017-07-18 00:00] Matthewrbowker commented on #54
XEcho has been depricated and removed from the new XTools, as MediaWiki now has that functionality in core.

[2017-07-18 00:00] #54 closed

[2017-07-18 00:04] samwilson commented on #50
This is working now in the new XTools at https://xtools.wmflabs.org — please try again there, and if you're still having trouble open a new issue on Phabricator. Thanks!

The Opt-in only works for the Monthly counts bar chart and Timecard punch chart (and not any other charts); see https://xtools.readthedocs.io/en/latest/opt-in.html for more information.

[2017-07-18 00:04] #50 closed

[2017-07-18 00:11] Matthewrbowker commented on #65
I am unable to reproduce this issue in the new XTools.  Please file a phabricator task if you find it again.

[2017-07-18 00:11] #65 closed

[2017-07-18 00:15] Matthewrbowker commented on #75
https://phabricator.wikimedia.org/T132855

Working in the new XTools https://xtools.wmflabs.org

[2017-07-18 00:15] #75 closed

[2017-07-19 20:03] Matthewrbowker commented on #125
Okay, I will keep a special eye out for this bug as I convert the edit summary tool to the new codebase.  I will close this task (because the problem has disappeared) and you are able to track the progress of the rewrite at https://phabricator.wikimedia.org/T170905 .

[2017-07-19 20:03] #125 closed

[2017-07-19 23:55] Matthewrbowker commented on #119
Hello, we just pushed a beta of the new XTools.  It appears to be working there, so I'm closing this task.  See https://xtools.wmflabs.org/ec/en.wikipedia.org/Stuartyeates

[2017-07-19 23:55] #119 closed

[2017-07-20 00:40] Matthewrbowker commented on #55
You know, I don't actually know what this task is about.  You're welcome to reopen with more details.

[2017-07-20 00:40] #55 closed

[2017-07-20 00:48] samwilson commented on #55
Yeah, those two characters are the same aren't they? Both are U+055D, and are used in hy.json (whether their usage is correct, I don't know).

[2017-07-20 00:49] Matthewrbowker commented on #46
Hello, @praveenp has this been fixed in our beta?  It looks like it is to me: https://xtools.wmflabs.org/ec/mlwiki/Praveenp?uselang=ml

[2017-07-20 08:51] praveenp commented on #46
Hi,  yes, it looks okay in the given link. Thank you :-)

[2017-07-20 16:22] Matthewrbowker commented on #46
Excellent!  Thank you so much.

[2017-07-20 16:22] #46 closed

[2017-07-24 09:14] Matthewrbowker commented on #37
I have implemented these changes in the rewrite, once they are reviewed and implemented you should be able to see them.  Slated for version 3.1.

[2017-07-24 09:14] #37 closed

[2017-07-24 09:25] Matthewrbowker commented on #103
Hello!  I am going to close this, as we've had extensive discussion about the discrepancy.  What is boils down to is a difference between the way MediaWiki and XTools count edits.  MediaWiki has access to data that XTools does not.  If you want to read it, our discussion is at https://phabricator.wikimedia.org/T163284

[2017-07-24 09:25] #103 closed

[2017-07-24 09:28] Matthewrbowker commented on #116
@MusikAnimal Has this been fixed in the new XTools?  Or at least addressed?  The way I read it, most of the issue is in procedure not in XTools parsing of data.

[2017-07-24 17:42] MusikAnimal commented on #116
Yes, the edits by these accounts still show in the "Top 10 by added text", etc., so the only potential confusion is that a human account may show up in the bot list. If that is the case it will say "former bot". This isn't that bad, in my opinion. I still put fault at eswiki practice, as human accounts should not be bots – ever. We could use the timestamps of when the user rights changed to find o

[2017-07-24 17:42] #116 closed

[2017-07-28 20:27] Matthewrbowker commented on #38
Hi, @willbeaufoy

We are moving over to the Wikimedia Foundation Phabricator for development of XTools.  I've migrated your task there, you are welcome to watch it at https://phabricator.wikimedia.org/T171991

[2017-07-28 20:27] #38 closed

[2017-07-28 20:28] Matthewrbowker commented on #42
Hi, @danmichaelo

We are moving over to the Wikimedia Foundation Phabricator for development of XTools. I've migrated your task there, you are welcome to watch it at https://phabricator.wikimedia.org/T171992

[2017-07-28 20:28] #42 closed

[2017-07-28 20:30] Matthewrbowker commented on #56
Hi, @addshore

We are moving over to the Wikimedia Foundation Phabricator for development of XTools. I've migrated your task there, you are welcome to watch it at https://phabricator.wikimedia.org/T171994

[2017-07-28 20:30] #56 closed

[2017-07-28 20:32] Matthewrbowker commented on #59
Hi, @Rillke

We are moving over to the Wikimedia Foundation Phabricator for development of XTools. I've migrated your task there, you are welcome to watch it at https://phabricator.wikimedia.org/T171996

[2017-07-28 20:32] #59 closed

[2017-07-28 20:35] Matthewrbowker commented on #70
Hi, @nasirkhan

Short answer to your question, yes we have an API. It is not documented, and is still a work in progress.

We are moving over to the Wikimedia Foundation Phabricator for development of XTools. I've migrated your task there, you are welcome to watch it at https://phabricator.wikimedia.org/T171997

[2017-07-28 20:35] #70 closed

[2017-07-28 20:36] Matthewrbowker commented on #71
Hi, @APerson241

We are moving over to the Wikimedia Foundation Phabricator for development of XTools. I've migrated your task there, you are welcome to watch it at https://phabricator.wikimedia.org/T171998

[2017-07-28 20:36] #71 closed

[2017-07-28 20:38] #86 closed

[2017-07-28 20:42] Matthewrbowker commented on #107
Hi, @davidhedlund

We are moving over to the Wikimedia Foundation Phabricator for development of XTools. I've migrated your task there, you are welcome to watch it at https://phabricator.wikimedia.org/T172001

[2017-07-28 20:42] #107 closed

[2017-07-28 20:45] Matthewrbowker commented on #120
Hi, @davidhedlund

We are moving over to the Wikimedia Foundation Phabricator for development of XTools. I've migrated your task there, you are welcome to watch it at https://phabricator.wikimedia.org/T172003

[2017-07-28 20:45] #120 closed

[2017-07-28 20:48] Matthewrbowker commented on #121
Hi, @davidhedlund

We are moving over to the Wikimedia Foundation Phabricator for development of XTools. I've migrated your task there, you are welcome to watch it at https://phabricator.wikimedia.org/T172006

[2017-07-28 20:48] #121 closed

[2017-07-28 21:04] davidhedlund commented on #107
@Matthewrbowker Thank you.

[2017-07-28 21:06] davidhedlund commented on #121
@Matthewrbowker Thank you again.

[2017-07-28 21:08] davidhedlund commented on #120
@Matthewrbowker I subscribed to it on Phabricator as I did with all other issues that you migrated. Thank you.